<div class="modal-container">
    <button (click)="cancel()" mat-button class="icon-close">
      <mat-icon aria-hidden="false">clear</mat-icon>
    </button>
  <h1 mat-dialog-title>{{ title }}</h1>
  <form
    autocomplete="off"
    novalidate
    fxLayout="column wrap"
    [formGroup]="authForm"
    (ngSubmit)="checkFormValidation(authForm.value.title)"
  >
    <mat-dialog-content>
      <mat-form-field>
        <input
          matInput
          id="title"
          name="title"
          formControlName="title"
          placeholder="Enter board title"
          required
        />
        <mat-error *ngIf="hasError('title', 'required')">
          Title is required
        </mat-error>
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button
        type="submit"
        mat-raised-button
        [disabled]="!authForm.valid"
        color="primary"
      >
        Create board
      </button>
    </mat-dialog-actions>
  </form>
</div>
