<div class="wrapper">
  <h2>Boards list</h2>
  <header class="header">
    <app-search
      class="search"
      (handleSearchText)="handleSearchText($event)"
      [searchText]="searchText"
    ></app-search>
    <a 
      (click)="addBoard()" 
      mat-raised-button 
      color="primary">
      Add board
    </a>
  </header>
  <div class="boards">
    <app-board
      *ngFor="let board of boardsList?.boards | filterByBoard: searchText; trackBy: trackByBoardId"
      (boardDeleted)="handleBoardDeleted()"
      [board]="board"
    ></app-board>
  </div>
</div>
