<div class="board-header" fxLayout="row">
  <h1 class="board-title">{{boardTitle}}</h1>

  <mat-chip-list class="board-actions">
    <mat-chip class="edit-board-title" matTooltip="edit board title">
      <mat-icon aria-hidden="false" aria-label="edit board title">edit</mat-icon>
    </mat-chip>
    <mat-chip class="add-column" color="primary" matTooltip="add new column">
      <mat-icon aria-hidden="false" aria-label="add column">note_add</mat-icon>
    </mat-chip>
  </mat-chip-list>
</div>

<div class="board-users">
  <app-users [users]="users"></app-users>
</div>

<div class="board-columns">
  <app-column *ngFor="let column of columns" [column]="column">
    <app-task (taskDeleted)="handleItemDeleted()" (addTask)="createAddTaskModal($event)" *ngFor="let task of column.tasks" [task]="task"></app-task>
  </app-column>
</div>
