.board-header {
  align-items: center;

  .board-title {
    padding-right: 10px;
  }
}

.board-users {
  max-width: 750px;
  padding-bottom: 20px;
}

.board-columns {
  column-width: 19em;
  -moz-column-width: 19em;
  -webkit-column-width: 17em;
  column-gap: 1em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 45px;
}

.column {
  display: inline-block;
  padding: 0.5rem;
  width: 100%;
  margin-bottom: 30px;
  border: 1px solid #e0e0e0;
}

.task {
  margin-bottom: 5px;
}
